body{
    display: flex; flex-direction:column;justify-content: center;

}


.box1{
   width: 1100px;
   height: 400px;
   background-color: white;
   box-shadow: 5px 5px 15px 5px black;
   margin: 60px 60px 60px 60px;
   padding-top: 100px;
  
}

.inp1{
    width: 500px;
    height: 50px;
    background-color:cyan;
    border: 2px solid black;
}

.inp2{
    width: 200px;
    height: 40px;
    background-color:cyan;
    border: 2px solid black;
}

.inp1:focus {
    outline-color: transparent;
    outline-style:solid;
    box-shadow: 5px 5px 5px 8px black;
    transition: 0.7s;
    
}


.truee{
    border-color: green;
    
    -webkit-box-shadow: 5px 5px 15px 5px green; 
    box-shadow: 5px 5px 15px 5px green;
    }
    .falsee{
        border-color: red;
        -webkit-box-shadow: 5px 5px 15px 5px red; 
    box-shadow: 5px 5px 15px 5px red;
    }

    p{
        text-shadow: 10px 10px 10px 10px black;
        text-align: center;
        font-style: inherit;
    }

    .spanf{
        text-align: center;
        color: red;
        text-shadow: 10px red;
        
    }
    .spant{
        text-align: center;
        color: green;
        text-shadow: 10px green;
        font-style:unset;
    }
